@inherits LayoutComponentBase

<header>
	<Bar Mode="BarMode.Horizontal">
		<BarBrand>
			<BarLink To="/">
				<img src="assets/MovieMonkeyDarkMode.png" />
			</BarLink>
		</BarBrand>
	</Bar>
</header>
<main> @Body </main>
