@inherits LayoutComponentBase

<header>
	<ul>
		<li>
			<a href="/">
				<img src="/assets/MovieMonkeyDarkMode.png" />
			</a>
		</li>
		<li style="float:right">
			<a>
				<img src="/assets/Profile.png" />
			</a>
		</li>
		<li style="float:right">
			<a>
				BANANAS
			</a>
		</li>
		<li style="float:right">
			<a>
				FAQ
			</a>
		</li>
		<li style="float:right">
			<a>
				ABOUT
			</a>
		</li>
	</ul>
</header>
<main> @Body </main>
<footer>
	<a href="/">Home</a>
	<a href="/profile">Profile</a>
	<a href="/mrqueen">MrQueen</a>
</footer>