@inherits LayoutComponentBase

<header>
	<ul>
		<li>
			<a href="/">
				<img src="assets/MovieMonkeyDarkMode.png" />
				<img style = "display: inline-block;" src="/assets/MovieMonkeyWords.png" />
			</a>
		</li>
		<li class="right">
			<a href="/profile">
				<div class="figure">
					<img style="height: 30px; width: auto;"src="assets/Profile.png" />
					<img style="height: 30px; width: auto;" class="hover" src="assets/Profile_Hover.png" />
				</div>
			</a>
		</li>
		<li class="right">
			<a href="/bananas">
				BANANAS
			</a>
		</li>
	</ul>
</header>
<main> @Body </main>
<div class="bigDivider"></div>
<div style="text-align: center; margin: auto;">
	<img src=assets/Monkey+Arms.png? />
	<br />
	<img src="assets/MovieMonkeyWords.png" />
	<br />
	<div class="medDivider"></div>
	<h4>About | Contribute | Privacy</h4>
	<div class="blankDivider"></div>
	<img src="assets/Socials.png" />
	<div class="blankDivider"></div>
</div>