@inherits LayoutComponentBase

<header>
	<ul>
		<li>
			<a href="/">
				<img style= "display: inline-block" src="/assets/MovieMonkeyDarkMode.png" />
				<img style = "display: inline-block;" src="/assets/MovieMonkeyWords.png" />
			</a>
		</li>
		<li class="right">
			<a>
				<img src="/assets/Profile.png" />
			</a>
		</li>
		<li class="right">
			<a>
				BANANAS
			</a>
		</li>
	</ul>
</header>
<main> @Body </main>
<div class="bigDivider"></div>
<div style="text-align: center; margin: auto;">
	<img src=assets/Monkey+Arms.png? />
	<br />
	<img src="assets/MovieMonkeyWords.png" />
	<br />
	<div class="medDivider"></div>
	<h4>About | Contribute | Privacy</h4>
	<div class="blankDivider"></div>
	<img src="assets/Socials.png" />
</div>

<footer>
	<a href="/">Home</a>
	<a href="/profile">Profile</a>
	<a href="/mrqueen">MrQueen</a>
</footer>