/*
    Index.razor.css
    Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
    4.21.2023 - 4.23.2023
    PURPOSE: Styling for the landing page.
*/

.placeholderBlock[b-l65puzrmv1]{
    height: 240px;
    width: 180px;
    background-color: grey;
}