.container[b-u0atj3ddlm] {
    height: 400px;
    width: 400px;
    position: relative;
}

.image[b-u0atj3ddlm] {
    position: absolute;
    left: 0;
    top: 0;
}

.text[b-u0atj3ddlm] {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
}
