/* _content/Movie_Monkey/Pages/Index.razor.rz.scp.css */
/*
    Index.razor.css
    Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
    4.21.2023 - 4.23.2023
    PURPOSE: Styling for the landing page.
*/

/* _content/Movie_Monkey/Pages/MrQueen.razor.rz.scp.css */
.container[b-u0atj3ddlm] {
    position: relative;
    text-align: center;
    color: white;
}
.container img[b-u0atj3ddlm]{
    width: 1440px;
}
