/* _content/Movie_Monkey/Pages/Index.razor.rz.scp.css */
/*
    Index.razor.css
    Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
    4.21.2023 - 4.23.2023
    PURPOSE: Styling for the landing page.
*/

h4[b-l65puzrmv1]{
    letter-spacing: 2px;
}
/* _content/Movie_Monkey/Pages/MrQueen.razor.rz.scp.css */

/* Bottom left text */

.indentedBlock[b-u0atj3ddlm]{
    padding: 20px;
}

.visits img[b-u0atj3ddlm]{
    display: inline-block;
}
