<!--
	Index.razor
	Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
	PURPOSE: Landing page for the project.
-->

@page "/"

<div class="containerHold">
	<img src="assets/mainpage/hero.png" />
	<div class="heroText">
		<h1>Monke See, Monke Do</h1>
		<p>Travel vicariously through your favorite Asian films and dramas. What are you waiting for?</p>
		<Link To="#main">
			<img style ="height: 49px; width: auto;" src="assets/Nothing.png" />
		</Link>
		
	</div>

</div>

<body id="main">
	<div class="layout">
		<h2>Explore Community Collections</h2>
		<div class="mainYellowDivider"></div>
		<div class="blankDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<a>
					<img src="assets/mainpage/Swoonworthy.png" />
				</a>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<a>
					<img src="assets/mainpage/AnimeHits.png" />
				</a>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<a>
					<img src="assets/mainpage/Imperial.png" />
				</a>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<a>
					<img src="assets/mainpage/NetflixDramas.png" />
				</a>
			</Column>
		</Row>
		<div class="bigDivider"></div>

		<h2>Monke's Most Popular</h2>
		<div class="mainYellowDivider"></div>
		<div class="blankDivider"></div>
		<Carousel>
			<CarouselSlide Name="1">
				<Row>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/1.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/2.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/3.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/4.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/5.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/6.png" Display: block />
					</Column>
				</Row>
			</CarouselSlide>
			<CarouselSlide Name="2">
				<Row>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/1.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/2.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/3.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/4.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/5.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel1/6.png" Display: block />
					</Column>
				</Row>
			</CarouselSlide>
		</Carousel>
		<div class="bigDivider"></div>

		<h2>Critically Acclaimed Film and TV</h2>
		<div class="mainYellowDivider"></div>
		<div class="blankDivider"></div>
		<Carousel Autoplay=false AutoplayRepeat=false>
			<CarouselSlide Name="1">
				<Row>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/1.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/2.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/3.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/4.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/5.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/6.png" Display: block />
					</Column>
				</Row>
			</CarouselSlide>
			<CarouselSlide Name="2">
				<Row>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/1.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/2.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/3.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/4.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/5.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel2/6.png" Display: block />
					</Column>
				</Row>
			</CarouselSlide>
		</Carousel>
		<div class="bigDivider"></div>

		<h2>Going bananas over...</h2>
		<div class="mainYellowDivider"></div>
		<div class="medDivider"></div>
		<!--Conversation Block-->
		<Row>
			<Column ColumnSize = "ColumnSize.Is5">
				<img style="height: 320px; border-radius: 10px;" src="assets/mainpage/Find_Yourself_Waterview.jpg" />
			</Column>
			<Column ColumnSize="ColumnSize.Is5">
				<h3 style="font-size: 16px;">TRAVEL TO CHINA</h3>
				<div class="blankDivider"></div>
				<h4 style="letter-spacing: 0px;">Locations from the biggest year in C-Drama</h4>
				<div class="blankDivider"></div>
				<p style="font-size: 18px; font-weight: 400;">
					The infamous Korean game neolttwigi played by Queen Cheorin (Shin Hye-sun).
					<br /><br />
					Better known as a traditional outdoor game of Korean women and girls that
					is typically enjoyed on traditional holidays, neolttwigi is typically
					enjoyed on traditional holidays such as Korean New Year, Chuseok, and Dano.
					Neolttwigi is similar to seesaw, except that participants stand on each end
					of the Neol and jump, propelling the person opposite into the air.
				</p>
			</Column>
		</Row>
		<div class="bigDivider"></div>
		<h2>The World of Hayao Miyazaki</h2>
		<div class="mainYellowDivider"></div>
		<div class="blankDivider"></div>
		<Carousel Autoplay=false AutoplayRepeat=false>
			<CarouselSlide Name="1">
				<Row>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/1.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/2.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/3.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/4.png" Display: block />
					</Column>
					<Column ColumnSize = "ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/5.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/6.png" Display: block />
					</Column>
				</Row>
			</CarouselSlide>
			<CarouselSlide Name="2">
				<Row>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/1.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/2.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/3.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/4.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/5.png" Display: block />
					</Column>
					<Column ColumnSize="ColumnSize.Is2">
						<Image Source="/assets/mainpage/Carousel3/6.png" Display: block />
					</Column>
				</Row>
			</CarouselSlide>
		</Carousel>
	</div>
</body>

@code{
}