<!--
	Index.razor
	Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
	PURPOSE: Landing page for the project.
-->

@page "/"

<body>
	<!--Add Carousel-->
	<div class="layout">
	<h2>Hayao Miyazaki's World</h2>
	<div class="yellowDivider"></div>
	<div class="blankDivider"></div>
	<Carousel ShowIndicators="false">
		<CarouselSlide Name="1">
			<Row>
				<Column ColumnSize = "ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
			</Row>
		</CarouselSlide>
		<CarouselSlide Name="2">
			<Row>
				<Column ColumnSize = "ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
				<Column ColumnSize="ColumnSize.Is2">
					<Image Source="/assets/mainpage/Spirited_Away_VERTICAL 1.png" Display: block />
				</Column>
			</Row>
		</CarouselSlide>
	</Carousel>
	<div class="blankDivider"></div>

	<div class="blankDivider"></div>
	<h2>Join the Conversation!</h2>
	<div class="yellowDivider"></div>
	<div class="blankDivider"></div>
	<!--Conversation Block-->
	<Row>
		<Column ColumnSize = "ColumnSize.Is5">
			<img style="height: 280px;" src="assets/mainpage/Find_Yourself_Waterview.jpg" />
		</Column>
		<Column ColumnSize="ColumnSize.Is5">
			<h3>TRAVEL TO CHINA</h3>
			<h4>Locations from the biggest year in C-Drama</h4>
			<p>
				The infamous Korean game neolttwigi played by Queen Cheorin (Shin Hye-sun).
				<br /><br />
				Better known as a traditional outdoor game of Korean women and girls that
				is typically enjoyed on traditional holidays, neolttwigi is typically
				enjoyed on traditional holidays such as Korean New Year, Chuseok, and Dano.
				Neolttwigi is similar to seesaw, except that participants stand on each end
				of the Neol and jump, propelling the person opposite into the air.
			</p>
		</Column>
	</Row>
	</div>
</body>

@code{
}