<!--
	Index.razor
	Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
	PURPOSE: Landing page for the project.
-->

@page "/"

<body>
	<!--Add Carousel-->
	<h2>Hayao Miyazaki's World</h2>
	<h2>Header</h2>
	<h2>Join the Conversation!</h2>
	<div class="convoBlock">
		<img src="assets/mainpage/Find_Yourself_Waterview.jpg" />
		<div class="textBlock">
			<h3>TRAVEL TO CHINA</h3>
			<h4>Locations from the biggest year in C-Drama</h4>
			<p>The infamous Korean game neolttwigi played by Queen Cheorin (Shin Hye-sun).
				Better known as a traditional outdoor game of Korean women and girls that 
				is typically enjoyed on traditional holidays, neolttwigi is typically 
				enjoyed on traditional holidays such as Korean New Year, Chuseok, and Dano. 
				Neolttwigi is similar to seesaw, except that participants stand on each end 
				of the Neol and jump, propelling the person opposite into the air.</p>
		</div>
	</div>
</body>

@code{
}