<!--
	Index.razor
	Casey Nguyen / Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
	PURPOSE: Landing page for the project.
-->

@page "/"

<body>
	<!--Header-->
	<h1>Headline</h1>
	<h2>Screencaps</h2>
	<div class="yellowDivider"></div>
	<h2>Gungnamji Pond</h2>
	<h2>Seongyojang House</h2>
	<h2>Gwanghanruwon Garden</h2>
	<h2>Byeongsan Seowon</h2>
</body>


