@page "/meteor_garden";

<div class="containerHold">
	<img style="width: 100%; height: 95%;" src="assets/meteorgarden/hero.png">
	<div class="heroText">
		<h1>Meteor Garden</h1>
		<br />
		<div>
			<p>
				Based off of Yoko Kamio’s manga series, Boys Over Flowers, Meteor Garden follows an ordinary girl who is admitted to the most prestigious school in the country where she encounters F4, an exclusive group comprised of the four wealthiest and handsomest boys in the school - Dao Ming Si, Hua Ze Lei, Xi Men and Mei Zuo.
			</p>
		</div>
	</div>
</div>

<body>
	<div class="layout">
		<button style="display: inline-block">
			<div class="figure">
				<img src="assets/AddToCollection.png" />
				<img class="hover" src="assets/AddToCollection_Hover.png" />
			</div>
		</button>
		<button style="display: inline-block">
			<Link To="#chat">
			<div class="figure">
				<img src="assets/MonkeChat.png" />
				<img class="hover" src="assets/MonkeChat_Hover.png" />
			</div>
			</Link>
		</button>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is8">
				<Row>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>GENRE</h4>
						<p>Romantic, Drama</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>LANGUAGE</h4>
						<p>Mandarin Chinese</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>LOCATION</h4>
						<p>China, Taiwan, London</p>
					</Column>
					<Column ColumnSize="ColumnSize.IsQuarter">
						<h4>PLATFORM</h4>
						<p>Netflix</p>
					</Column>
				</Row>
			</Column>
		</Row>
		<div class="bigDivider"></div>
		<!--Begin Highlights-->
		<h2>Highlights</h2>
		<div class="bigYellowDivider"></div>
		<div class="blankDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#1">
					<img src="assets/meteorgarden/Highlight1.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#2">
				<img src="assets/meteorgarden/Highlight2.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#3">
				<img src="assets/meteorgarden/Highlight3.png" />
				</Link>
			</Column>
			<Column ColumnSize="ColumnSize.IsQuarter">
				<Link To="#4">
				<img src="assets/meteorgarden/Highlight4.png" />
				</Link>
			</Column>
		</Row>
		<div id="1" class="medDivider"></div>
		<!--Start enlarged-->
		<h3>National Chung Cheng University</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/meteorgarden/Highlight1_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>National Chung Cheng University<img style="float: right" src="assets/Link.png"></h2>
						<h2>國立中正大學</h2>
						<div class="blankDivider"></div>
						<p>
							The fictional “Ming De University” is based on National Chung Cheng University in Taiwan. Though different parts of Ming De’s campus were shot elsewhere, the exterior shots were all shot on National Chung Cheng’s campus.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="2" class="medDivider"></div>
		<h3>London Eye</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/meteorgarden/Highlight2_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>London Eye<img style="float: right" src="assets/Link.png"></h2>
						<h2>London, United Kingdom</h2>
						<div class="blankDivider"></div>
						<p>
							As Dao Ming Si (Dylan Wang) and Shancai’s (Shen Yue) relationship deepens, the pair heads to London on vacation.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="3" class="medDivider"></div>
		<h3>Taipei Zoo</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/meteorgarden/Highlight3_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Taipei Zoo<img style="float: right" src="assets/Link.png"></h2>
						<h2>臺北市立動物園</h2>
						<div class="blankDivider"></div>
						<p>
							The Taipei Zoo is home to many cute animals, and apparently cute dates too! Dao Ming Si (Dylan Wang) and Shancai (Shen Yue) further explore their relationship on a zoo date.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>

		<div id="4" class="medDivider"></div>
		<h3>Sanya</h3>
		<div class="yellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is5">
				<img src="assets/meteorgarden/Highlight4_Enlarged.png" />
			</Column>
			<Column ColumnSize="ColumnSize.Is7">
				<Row>
					<Column ColumnSize="ColumnSize.Is1">
						<img style="padding-left: 23px;" src="assets/Location.png" />
					</Column>
					<Column ColumnSize="ColumnSize.Is11">
						<h2>Sanya<img style="float: right" src="assets/Link.png"></h2>
						<h2>海南省</h2>
						<div class="blankDivider"></div>
						<p>
							Sanya, Hainan is the iconic landmark where Dao Ming Si (Dylan Wang) and Shancai (Shen Yue) shared their first kiss. This heartfelt scene perfectly matches the vibe of Sanya, a city on the southern end of China’s Hainan Island, has several bays with large beach resorts.
						</p>
					</Column>
				</Row>
			</Column>
		</Row>


		<div id="chat" class="bigDivider"></div>
		<!--Start chat-->
		<h2>Monkey Business</h2>
		<div class="bigYellowDivider"></div>
		<div class="medDivider"></div>
		<Row>
			<Column ColumnSize="ColumnSize.Is3">
				<div class="visits" style="padding-left: 30px;">
					<h3>Visits</h3>
					<div class="blankDivider"></div>
					<button onclick="@seenIt">
						@if (seen)
						{
							<img src="assets/MonkeSee_Hover.png">
						}
						else
						{
							<div class="figure">
								<img src="assets/MonkeSee.png" />
								<img class="hover" src="assets/MonkeSee_Hover.png" />
							</div>
						}
					</button>
					<div class="blankDivider"></div>
					<button onclick="@didIt">
						@if (did)
						{
							<img src="assets/MonkeDid_Hover.png">
						}
						else
						{
							<div class="figure">
								<img src="assets/MonkeDid.png" />
								<img class="hover" src="assets/MonkeDid_Hover.png" />
							</div>
						}
					</button>

					<div class="medDivider"></div>
					<h3><img src="assets/Eye.png" /><b>	@seeValue%	</b>Monke See</h3>
					<h3><img src="assets/Eye_Off.png" /><b>	@didValue%	</b>Monke Did</h3>
					<div class="medDivider"></div>
					<p style="font-size: 14px; text-decoration: underline">Report</p>
					<p style="font-size: 14px; text-decoration: underline">Help</p>
				</div>
			</Column>
			<Column ColumnSize="ColumnSize.Is8">
				<h3>Chat</h3>
				<div class="blankDivider"></div>
				<TextEdit Placeholder="Ex. This location was bananas!"></TextEdit>
				<div class="bigDivider"></div>
				<div class="medDivider"></div>
				<div style="padding-left:200px;">
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile2.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()bingbongbyron</h2>
							<div class="blankDivider"></div>
							<h5>Sanya, China</h5>
							<div class="blankDivider"></div>
							<p>
								我很高兴我的家被代表了。三亚不像中国其他城市那么受欢迎，但流星花园给我们的旅游带来了新的生机。非常喜欢！想看看多地方啊！
							</p>
						</Column>
					</Row>
					<div class="medDivider"></div>
					<Row>
						<Column ColumnSize="ColumnSize.Is2">
							<img src="assets/SampleProfile3.png" />
						</Column>
						<Column ColumnSize="ColumnSize.Is10">
							<h2>@at()bmunich31</h2>
							<div class="blankDivider"></div>
							<h5>Frankfurt, Germany</h5>
							<div class="blankDivider"></div>
							<p>
								After watching the original Boys Over Flowers, I was happy to see that Meteor Garden was created as a remake. I visited Taiwan last year for the first time and got to see National Chung Cheng University. Imagining myself as Shancai was a feeling like no other.							</p>
						</Column>
					</Row>
				</div>

			</Column>
		</Row>
	</div>
</body>

@code {
	private int seeValue = 89;
	bool seen = false;
	private int didValue = 11;
	bool did = false;

	private void seenIt()
	{
		seen = !seen;
		if (seen) seeValue = 91;
		else seeValue = 89;
	}

	private void didIt()
	{
		did = !did;
		if (did) didValue = 15;
		else didValue = 11;
	}

	string at()
	{
		return "@";
	}
}
