@page "/mrqueen"

<div class="container">
		<img class="image" src="/assets/mrqueen/Mr_Queen_Heo_Gyun_Heo_Nanseolheon_Memorial_Park 1.png"/>
		<p>HELLO</p>
</div>
	<div class="layout">
		<h2>Highlights</h2>
		<h3>Gungnamji Pond</h3>
		<div class="yellowDivider"></div>
		<h3>Seongyojang House</h3>
		<div class="yellowDivider"></div>
</div>


@code {

}
