<!--
	Profile.razor
	Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
-->

@page "/profile"

<body>
	<img class="profile_pic" src="images/cdrama_assets/CDRAMA_Find_Yourself/Find_Yourself_Shanghai.jpg"/>
</body>

@code {

}
