<!--
	Profile.razor
	Casey Nguyen and Marisah Goo for 2023 UCLA Hackathon
	4.21.2023 - 4.23.2023
-->

@page "/profile"

<body>
	<div class="bigDivider"></div>
	<div style="text-align: center; margin:auto;" class="layout">
		<img src="assets/profile/profiile.png" />
		<h1>Casey</h1>
		<h4>@at()mudklipz</h4>
		<div class="medDivider">
		</div>
		<button>
			<div class="figure">
				<img src="assets/profile/edit_profile.png" />
				<img class="hover" src="assets/profile/edit_profile_hover.png" />
			</div>
		</button>
		<div class="medDivider"></div>
			<Row>
				<Column ColumnSize="ColumnSize.IsHalf">
					<img style="padding-left: 100px;" src="assets/profile/ripeness.png" />
				</Column>
				<Column ColumnSize="ColumnSize.IsHalf">
					<a href="/bananas">
						<img style="padding-right: 100px;" src="assets/profile/collection.png" />
					</a>
				</Column>
			</Row>
		<div class="helpButton">
			<Tooltip Text="HI!" Placement="TooltipPlacement.Top">
				<Button>
					<img src="assets/profile/help.png" />
				</Button>
			</Tooltip>
		</div>
	</div>
</body>

@code {
	string at()
	{
		return "@";
	}
}
